<p id="notice"><%= notice %></p>

<h1>Bundles</h1>

<table>
  <thead>
    <tr>
      <th>Name package</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bundles.each do |bundle| %>
      <tr>
        <td><%= bundle.name_package %></td>
        <td><%= bundle.department %></td>
        <td><%= link_to 'Show', bundle %></td>
        <td><%= link_to 'Edit', edit_bundle_path(bundle) %></td>
        <td><%= link_to 'Destroy', bundle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bundle', new_bundle_path %>
