<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<br>
  <%= link_to "POSTS",root_path%>
    <%= link_to "ARTICLES", articles_path%>
  <%= link_to "CREATE ARTICLE",new_article_path%>
  <%= link_to "CREATE POST",new_post_path%>
  <%= link_to "Bundles Index",bundles_path%>

  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

    <%= yield %>
  </body>
</html>